# Note: Copy these into 2 files - .env and .env.local.
NODE_ENV=development

# Use localhost:5432 in .env.local for prisma to work outside docker (etc. for migrations)
DATABASE_URL=postgresql://urlshortener_user:example@postgres:5432/urlshortener

REDIS_URL=redis://default:example@redis:6379

FRONTEND_URL=http://localhost:7777
