# Note: Copy these into 2 files - .env and .env.local.
NODE_ENV=development

# Use localhost:5432 in .env.local for prisma to work outside docker (etc. for migrations)
DATABASE_URL=postgresql://urlshortener_user:example@postgres:5432/urlshortener

REDIS_URL=redis://default:example@redis:6379

FRONTEND_URL=http://localhost:7777

# Google OAuth
GOOGLE_OAUTH_CLIENT_ID=...-....apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=...
GOOGLE_OAUTH_REDIRECT_URI=http://localhost:3000/auth/google/callback
GOOGLE_OAUTH_SESSION_SECRET=super-Long-and-Secure-Secret-Key-That-Should-Be-Changed

# JWT
JWT_SECRET=super-Long-and-Secure-Secret-Key-That-Should-Be-Changed
JWT_EXPIRATION=3600 # In seconds (1 hour)
JWT_REFRESH_EXPIRATION=604800 # In seconds (7 days)
